@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: 'Nunito', 'Inter', sans-serif;
  background-color: rgb(209, 184, 182);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color:black;
}

a:hover{
  color:rgb(76, 76, 197);
  transition-duration: 400ms;
}

.page-wrapper{
  margin-top:28vh;
  margin-left:8vw;
  margin: 28vh 8vw 20vh;
  
}