@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: 'Nunito', 'Inter', sans-serif;
  background-color: rgb(207, 174, 185);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.page-wrapper{
  margin-top:28vh;
  margin-left:5vw;
}